.cover {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 850px) {
  .cover {
    padding-top: 90px;
    max-width: 768px;
  }
}

@media screen and (max-width: 700px) {
  .cover {
    padding-top: 66px;
    max-width: 320px;
  }
}